// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';


.test1 {
	background: url(asset-path("registro.png")) no-repeat;
	width: 120px;
	height: 120px;
	background-size: 120px;
}

.box{
	color: red;
	border: 1px solid;
	
	.element-top{
		color: green;
		.boton{
			color: blue;
		}
	}

	.element-bottom{
		background: yellow;
	}

	.selector{

	}



}

